.chat-main
 .main-hedar
  .main-hedar__left-box
   %h2.main-hedar__left-box__current-group
    = @group.name
   %ul.main-hedar__left-box__member-list
    Member： 
    %li.main-hedar__left-box__member-list__member
    - @group.users.each do |user|
     = user.name
  .main-hedar__edit-btn
   = link_to "Edit",edit_group_path(@group.id)
 .messages
  .message
   .message__upper-info
    %p.message__upper-info__talker
     
    %p.message__upper-info__date
     
    %p.message__text
  
 .form
  = form_for [@group, @message] do |f|
   .input-box
    = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
    = f.label :image, class: 'input-box__image' do
     = icon('fa', 'image')
     = f.file_field :image, class: 'input-box__image__file'
   = f.submit 'Send', class: 'submit-btn'
    
   